<!DOCTYPE html>
<html>
<head>
  <title>Webshot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Webshot</a>
        </div>
        	<% if user_signed_in? %>
		        <div class="navbar-collapse collapse">
		          <ul class="nav navbar-nav navbar-right">
		          	<li><%= link_to 'Logout',  destroy_user_session_path, method: :delete %></li>
		          </ul>
		        </div><!--/.nav-collapse -->
          <% end %>
      </div>
    </div>

    <div class="container" style="margin-top: 50px">

			<%= yield %>

    </div> <!-- /container -->

</body>

</html>
